@import (inline) "css/reset.css";

@montserrat: 'Montserrat', Arial, Tahoma, sans-serif;
@caveat: 'Caveat', Arial, Tahoma, sans-serif;
@orange: #FD7253;
@blue: #197589;
@transition: all .3s ease-out;

*,*:before,*:after{box-sizing:border-box}
.container{margin-right:auto;margin-left:auto;padding-left:10px;padding-right:10px}
@media(min-width:0){.container{width:100%}}
@media(min-width:768px){.container{width:750px}}
@media(min-width:1020px){.container{width:1000px}}
@media(min-width:1260px){.container{width:1220px}}
.clearfix:before,.clearfix:after,.container:before,.container:after{content:" ";display:table}.clearfix:after,.container:after{clear:both}


html{
	font-size: 15px;
	font-weight: 500;
}

body{
	font-family: @montserrat;	
	color: #000; 
	background: #fff;
}
 
a{
	text-decoration: none; 
	color: inherit;
	&:hover{
		text-decoration: none; 
	}
}

.icon{
	display: inline-block;   
	vertical-align: middle; 
}   

*, 
*:active, 
*:focus{
	outline: none !important; 
}  

::placeholder {
  color: #4D4D4D;
  opacity: 1;
}

.page{
	overflow: hidden; 
	display: flex;
    min-height: 100vh; 
    flex-direction: column;
    position: relative; 
}

.main-content{
	flex: 1 1 auto;
}
 
.floatLeft{ 
	float: left; 
} 
.floatRight{
	float: right;  
}

strong{
	font-weight: 700;
}

.button{
	display: inline-block;
	transition: @transition;
	color: #fff;
	font-weight: 600;
	font-size: 16px;
	padding: 23px 37px;
	text-align: center;
	background: #FD7253;
	box-shadow: 2px 4px 0px #FEB3A2;
	border-radius: 14px;
	line-height: 1.25;
	min-width: 181px;
	&:hover{
		background: #FF6A49;
	}
	&.blue-button{
		background: #197589;
		box-shadow: 2px 4px 0px #79BDD2;
		&:hover{
			background: #0E849E;
		}
	}
}

button.button{
	border: none;
	cursor: pointer;
	font-family: inherit;
	line-height: 1.25;
}



/* header ================================================*/
header{
	position: relative;
	z-index: 30;
	background: #fff;
	border-bottom: 1px solid #F1F1F1;
}

.header-flex{
	display: flex;
	align-items: center;
	padding: 23px 0;
}

.main-logo{
	display: inline-flex;
	align-items: center;
	font-weight: 600;
	font-size: 14px;
	line-height: 1.32;
	text-transform: uppercase;
	color: #2C3132;
	margin-right: 20px;
	img{
		width: 65px;
		flex-shrink: 0;
		margin-right: 16px;
	}
	span{
		max-width: 187px;
	}
}

.header-content{
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-phone{
	display: inline-block;
	font-weight: 700;
	font-size: 18px;
	margin-left: 25px;
	flex-shrink: 0;
}

.header-menu{
	display: flex;
	align-items: center;
	flex-grow: 1;
	justify-content: center;
	font-weight: 500;
	font-size: 16px;
	color: #2C3132;
	line-height: 1.25;
	text-align: center;
	margin: 0 -41px;
	li{
		margin: 0 41px;
	}
	a{
		&:hover{
			text-decoration: underline;
		}
	}
}


/* intro-section ==============================================*/
.intro-section{
	padding: 106px 0 39px;
	position: relative;
	z-index: 2;
}

.intro-flex{
	display: flex;
	align-items: flex-start;
}

.intro-content{
	flex-grow: 1;
	.desc{
		font-weight: bold;
		font-size: 20px;
		line-height: 1.28;
		color: #444444;
		margin-bottom: 67px;
	}
}

h1{
	font-weight: 700;
	font-size: 70px;
	font-family: @caveat;
	line-height: 1.06;
	margin-bottom: 37px;
	text-transform: uppercase;
	span{
		color: #a9a9a9;
	}
	strong{
		color: #FD7253;
		font-weight: 900;
		font-size: 0.914em;
		font-family: @montserrat;
	}
}

.intro-list{
	color: #2C3132;
	line-height: 1.25;
	font-size: 16px;
	text-align: left;
	li{
		margin-bottom: 23px;
		display: flex;
		align-items: center;
	}
	img{
		flex-shrink: 0;
		margin-right: 22px;
	}
}

.intro-aside{
	width: 481px;
	flex-shrink: 0;
	margin-left: 60px;
	padding-top: 248px;
}

.intro-discount{
	background: #FFFFFF;
	border: 1px solid #FD7253;
	box-shadow: 0px 4px 44px rgba(40, 71, 115, 0.12);
	border-radius: 60px;
	padding: 144px 50px 64px;
	position: relative;
	text-align: center;
	.title{
		font-weight: 900;
		font-size: 26px;
		line-height: 1.44;
		margin-bottom: 6px;
		text-transform: uppercase;
	}
	.date{
		font-weight: bold;
		font-size: 34px;
		line-height: 144%;
		color: #FD7253;
		text-transform: uppercase;
		font-family: @caveat;
		margin-bottom: 20px;
	}
}

.intro-pic{
	position: absolute;
	z-index: 3;
	bottom: 100%;
	left: 50%;
	margin-bottom: -101px;
    margin-left: -292px;
}

.intro-wave{
	position: absolute;
	z-index: -1;
	left: 0;
	margin-left: -5px;
	pointer-events: none;
	width: 100%; 
	bottom: 0;
	margin-bottom: -3px;
	img{
		width: ~"calc(100% + 10px)";
	}
}


/* advantages-section =========================================*/
.advantages-section{
	background: #FBFBFB;
	padding: 53px 0 35px;
}

.advantages-list{
	margin: 0 -15px;
	display: flex;
	flex-wrap: wrap;
	li{
		padding: 0 15px;
		margin-bottom: 40px;
		width: 25%;
	}
	.title{
		font-weight: bold;
		font-size: 24px;
		line-height: 128.5%;
		text-transform: uppercase;
		margin-bottom: 16px;
		font-family: @caveat;
	}
	p{
		line-height: 159.4%;
		color: #2C3132;
	}
}


/* counts-section ========================================*/
.counts-section{
	padding: 90px 0 119px;
	position: relative;
	z-index: 2;
}

h2{
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 40px;
	line-height: 123.4%;
	text-transform: uppercase;
}

.counts-flex{
	display: flex;
	align-items: flex-start;
}

.counts-content{
	width: 50%;
	padding-right: 15px;
	h2{
		color: #2C3132;
	}
	.desc{
		font-size: 16px;
		line-height: 161%;
		color: #535353;
		margin-bottom: 72px;
		max-width: 483px;
	}
}

.counts-pic{
	margin-left: -41px;
	min-height: 314px;
	img{
		max-width: 100%;
	}
}

.counts-aside{
	width: 50%;
	padding-left: 15px;
}

.counts-wave{
	position: absolute;
	z-index: -1;
	left: 0;
	margin-left: -5px;
	pointer-events: none;
	width: 100%; 
	bottom: 0;
	margin-bottom: -3px;
	img{
		width: ~"calc(100% + 10px)";
	}
}

.counts-list{
	display: flex;
	margin: 0 -15px;
	flex-wrap: wrap;
	text-align: center;
	li{
		padding: 0 15px;
		width: 50%;
		margin-bottom: 41px;
	}
	.number{
		font-weight: bold;
		font-size: 48px;
		line-height: 108%;
		color: #FD7253;
		text-transform: uppercase;
		margin-bottom: 9px;
		font-family: @caveat;
	}
	p{
		line-height: 1.533;
		color: #2C3132;
	}
}


/* useful-section ========================================*/
.useful-section{
	background: #197589;
	color: #fff;
	padding: 84px 0 72px;
	text-align: center;
}

.useful-list{
	display: flex;
	margin: 0 -15px;
	flex-wrap: wrap;
	text-align: center;
	padding-top: 56px;
	li{
		padding: 0 15px;
		width: 33.333%;
		margin-bottom: 35px;
	}
	.image{
		margin-bottom: 35px;
		height: 122px;
		line-height: 122px;
		img{
			max-width: 100%;
			display: inline-block;
			vertical-align: middle;
		}
	}
	.title{
		font-family: @caveat;
		font-weight: bold;
		font-size: 24px;
		line-height: 128.5%;
		text-transform: uppercase;
		margin-bottom: 19px;
	}
	p{
		color: #A1DEF1;
		line-height: 159.4%;
	}
}


/* results-section ========================================*/
.results-section{
	background: #FBFBFB;
	padding: 90px 0 36px;
	position: relative;
	z-index: 3;
	h2{
		text-align: center;
	}
}

.results-list{
	display: flex;
	margin: 0 -15px;
	flex-wrap: wrap;
	padding-top: 32px;
	li{
		margin: 0 15px 30px;
		width: ~"calc(50% - 30px)";
		display: flex;
		align-items: center;
		background: #FFFFFF;
		box-shadow: 0px 4px 44px rgba(40, 71, 115, 0.12);
		border-radius: 37px;
		min-height: 184px;
		padding: 25px 30px;
	}
	.circle{
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		flex-shrink: 0;
		margin-right: 28px;
		width: 48px;
		height: 48px;
		background: #FD7253;
		border-radius: 50%;
	}
	p{
		font-size: 16px;
		line-height: 161%;
	}
	.button{
		flex-shrink: 0;
		padding-left: 20px;
		padding-right: 20px;
		margin-left: 28px;
	}
	.inner-flex{
		display: flex;
		align-items: center;
	}
}

.results-flex{
	display: flex;
	align-items: center;
	margin: 0 -15px;
	padding-top: 20px;
}

.results-slogan{
	padding: 10px 15px 0;
	width: 50%;
	text-align: center;
	.title{
		font-weight: 700;
		font-size: 26px;
		line-height: 144%;
		text-transform: uppercase;
		margin-bottom: 21px;
		span{
			display: block;
			font-family: @caveat;
		}
	}
}

.results-pic{
	padding: 0 15px;
	width: 50%;
	text-align: right;
	min-height: 380px;
	img{
		max-width: 100%;
	}
}

.results-wave{
	position: absolute;
	z-index: -1;
	left: 0;
	margin-left: -5px;
	pointer-events: none;
	width: 100%; 
	bottom: 0;
	margin-bottom: -3px;
	img{
		width: ~"calc(100% + 10px)";
	}
}


/* specialties-section ========================================*/
.specialties-section{
	padding: 92px 0;
}

.more-specialties{
	margin-top: 25px;
}

.specialties-flex{
	display: flex;
	align-items: center;
	margin-bottom: 31px;
}

.specialties-desc{
	margin-right: 58px;
	max-width: 452px;
	line-height: 161%;
	font-size: 16px;
}

.specialties-counts{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	color: #225F6C;
	line-height: 1.2;
	li{
		margin-right: 58px;
		display: flex;
		align-items: center;
		max-width: 320px;
		&:last-child{
			margin-right: 0;
		}
	}
	strong{
		font-weight: bold;
		font-size: 48px;
		line-height: 144%;
		font-family: @caveat;
		margin-right: 14px;
		text-transform: uppercase;
		line-height: 1.3;
		display: inline-block;
	}
}

.specialties-list{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
	li{
		padding: 0 10px;
		margin-bottom: 20px;
		&:nth-of-type(n+7){
			display: none;
		}
	}
}

.specialties-block{
	display: flex;
	align-items: center;
	min-height: 105px;
	background: #FFFFFF;
	box-shadow: 0px 4px 44px rgba(40, 71, 115, 0.12);
	border-radius: 37px;
	padding: 20px 27px;
	padding-left: 0;
	line-height: 1.44;
	font-weight: 700;
	font-size: 16px;
	height: 100%;
	max-width: 350px;
	.number{
		flex-shrink: 0;
		margin-right: 12px;
		width: 74px;
		text-align: center;
		font-weight: bold;
		font-size: 72px;
		line-height: 0.7;
		color: #FD7253;
		text-transform: uppercase;
		font-family: @caveat;
	}
	&.item-1{
		max-width: 219px;
	}
	&.item-2{
		max-width: 360px;
	}
	&.item-3{
		max-width: 338px;
	}
	&.item-4{
		max-width: 331px;
	}
	&.item-5{
		max-width: 341px;
	}
	&.item-6{
		max-width: 459px;
	}
	&.item-7{
		max-width: 301px;
	}
	&.item-8{
		max-width: 271px;
	}
	&.item-9{
		max-width: 291px;
	}
	&.item-10{
		max-width: 273px;
	}
	&.item-11{
		max-width: 265px;
	}
	&.item-12{
		max-width: 293px;
	}
	&.item-13{
		max-width: 219px;
	}
	&.item-14{
		max-width: 321px;
	}
	&.item-15{
		max-width: 219px;
	}
	&.item-16{
		max-width: 325px;
	}
	&.item-17{
		max-width: 293px;
	}
	&.item-18{
		max-width: 223px;
	}
	&.item-19{
		max-width: 369px;
	}
	&.item-20{
		max-width: 262px;
	}
	&.item-21{
		max-width: 247px;
	}
	&.item-22{
		max-width: 229px;
	}
	&.item-23{
		max-width: 261px;
	}
	&.item-24{
		max-width: 239px;
	}
	&.item-25{
		max-width: 486px;
	}
	&.item-26{
		max-width: 262px;
	}
}


/* consult-section ========================================*/
.consult-section{
	position: relative;
	z-index: 5;
	background: #197589;
	padding: 74px 0 1px;
	color: #fff;
}

.consult-content{
	position: relative;
}

.consult-text{
	max-width: 620px;
	margin-bottom: -42px;
	position: relative;
	z-index: 3;
	h2{
		font-family: @caveat;
		span{
			font-family: @montserrat;
		}
	}
	.button{
		margin-top: 12px;
	}
}

.consult-pic{
	position: absolute;
	top: 0;
	left: 61.8%;
}

.consult-wave{
	position: absolute;
	z-index: -1;
	left: 0;
	margin-left: -5px;
	pointer-events: none;
	width: 100%; 
	top: 100%;
	margin-top: -3px;
	img{
		width: ~"calc(100% + 10px)";
	}
}


/* teachers-section ========================================*/
.teachers-section{
	background: #FBFBFB;
	text-align: center;
	padding: 221px 0 45px;
	text-align: center;
}

.js-slick{
	.slick-arrow{
		position: absolute; 
		z-index: 10;
		top: 50%;
		text-indent: -9999px;
		cursor: pointer;
		padding: 0; 
		margin-top: -26px;
		background: transparent;
		border: none;
		height: 52px;
		width: 52px;
		background: #eee;
		transition: @transition;
		border-radius: 14px;
		&:after{
			content: "";
			position: absolute;
			left: 50%;
			top: 50%;
			width: 25px;
			height: 18px;
			display: inline-block;
			margin-top: -9px;
			margin-left: -13px;
			background: url("../images/slider-arrow.svg") center no-repeat;
			background-size: 100% auto;
		}
		&:hover{
			background: #FD7253;
			&:after{
				filter: brightness(0) invert(1);
			}
		}
		&.slick-prev{
			left: -85px;
			&:after{
				transform: rotate(-180deg);
			}
		}
		&.slick-next{
			right: -85px;
		}
	}
}

.teachers-slider{
	.slick-list{
		margin: 0 -15px;
	}
}

.teachers-slider-block{
	margin: 30px 15px;
	text-align: center;
	.image{
		width: 226px;
		height: 240px;
		margin: 0 auto 36px;
		overflow: hidden;
		border-radius: 50%;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.name{
		text-transform: uppercase;
		font-weight: bold;
		font-size: 18px;
		line-height: 144.5%;
		margin: 0 auto 12px;
		max-width: 273px;
	}
	.job{
		line-height: 159.4%;
		color: #535353;
	}
}


/* studying-section ========================================*/
.studying-section{
	padding: 90px 0 57px;
}

.studying-text{
	max-width: 584px;
	.desc{
		margin-bottom: 36px;
		font-size: 16px;
		line-height: 161%;
		margin-top: -5px;
	}
}

.studying-content{
	background: #FFFFFF;
	box-shadow: 0px 4px 44px rgba(40, 71, 115, 0.12);
	border-radius: 37px;
	margin-bottom: 34px;
	position: relative;
	display: flex;
	align-items: center;
	padding: 38px;
}

.studying-pic{
	right: 6.5%;
	bottom: 100%;
	margin-bottom: -25px;
	position: absolute;
	z-index: 3;
}

.studying-logo{
	flex-shrink: 0;
	margin-left: 48px;
	margin-right: 12px;
}

.studying-list{
	flex-grow: 1;
	margin: 0 -15px -17px;
	display: flex;
	flex-wrap: wrap;
	font-size: 16px;
	line-height: 1.25;
	color: #2C3132;
	text-align: left;
	li{
		width: 50%;
		padding: 0 15px;
		width: 50%;
		margin-bottom: 17px;
		display: flex;
		align-items: center;
	}
	img{
		flex-shrink: 0;
		margin-right: 17px;
	}
}


/* diplom-section ========================================*/
.diplom-section{
	background: #FBFBFB;
	position: relative;
	z-index: 5;
	padding: 172px 0 144px;
}

.diplom-flex{
	display: flex;
}

.diplom-text{
	width: 50%;
	padding-right: 15px;
	.desc{
		margin-bottom: 36px;
		font-size: 16px;
		line-height: 161%;
		margin-top: -5px;
	}
}

.diplom-wave{
	position: absolute;
	z-index: -1;
	left: 0;
	margin-left: -5px;
	pointer-events: none;
	width: 100%; 
	top: 0;
	margin-top: -3px;
	img{
		width: ~"calc(100% + 10px)";
	}
}

.diplom-images{
	width: 50%;
	padding-left: 15px;
	position: relative;
	z-index: 2;
}

.diplom-pic{
	position: absolute;
	filter: drop-shadow(0px 4px 11px rgba(0, 0, 0, 0.25));
	img{
		display: block;
	}
	&.item-1{
		left: 34px;
    	top: 4px;
	}
	&.item-2{
		left: 227px;
    	top: -92px;
	}
	&.item-3{
		left: 170px;
    	top: 133px;
	}
}

.diplom-gerb{
	position: absolute;
	z-index: -1;
	right: -171px;
    top: -250px;
}

.mobile-diplom-link{
	display: none;
}


/* steps-section ========================================*/
.steps-section{
	text-align: center;
	color: #fff;
	padding: 80px 0 65px;
	background: #FD7253;
	overflow: hidden;
	h2{
		text-align: center;
	}
}

.steps-list{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
	padding-top: 28px;
	li{
		padding: 0 15px;
		margin-bottom: 30px;
		width: 25%;
	}
}

.steps-block{
	height: 100%;
	background: #FFFFFF;
	box-shadow: 0px 4px 44px rgba(40, 71, 115, 0.12);
	border-radius: 37px;
	text-align: center;
	padding: 41px 20px 28px;
	.image{
		height: 87px;
		line-height: 87px;
		margin-bottom: 26px;
		img{
			display: inline-block;
			vertical-align: middle;
		}
	}
	.title{
		color: #2C3132;
		font-weight: bold;
		font-size: 24px;
		line-height: 134.9%;
		text-transform: uppercase;
		font-family: @caveat;
		margin-bottom: 15px;
	}
	p{
		line-height: 161%;
		color: #2C2C2C;
		max-width: 216px;
		margin: 0 auto;
	}
}


/* reviews-section ========================================*/
.reviews-section{
	padding: 96px 0 28px;
	h2{
		text-align: center;
	}
}

.reviews-slider{
	.slick-list{
		margin: 0 -30px;
		padding: 0 15px;
	}
	.slick-track{
		display: flex;
	}
}

.reviews-slider-block{
	background: #FFFFFF;
	border-radius: 60px;
	margin: 30px 15px;
	padding: 40px;
	height: auto !important;
	transition: @transition;
	&.slick-active{
		box-shadow: 0px 4px 30px rgba(40, 71, 115, 0.12);
	}
	.author{
		display: flex;
		align-items: center;
		margin-bottom: 13px;
	}
	.avatar{
		width: 62px;
		height: 62px;
		overflow: hidden;
		border-radius: 50%;
		margin-right: 21px;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.name{
		font-weight: bold;
		font-size: 24px;
		line-height: 134.9%;
		color: #2C3132;
		text-transform: uppercase;
		font-family: @caveat;
	}
	p{
		line-height: 161%;
		color: #2C2C2C;
	}
}


/* price-section ========================================*/
.price-section{
	padding: 40px 0 101px;
	position: relative;
	z-index: 5;
}

.price-content{
	position: relative;
}

.price-text{
	max-width: 884px;
	position: relative;
	z-index: 5;
}

.price-wave{
	position: absolute;
	z-index: -1;
	left: 0;
	margin-left: -5px;
	pointer-events: none;
	width: 100%; 
	bottom: 0;
	margin-bottom: -3px;
	img{
		width: ~"calc(100% + 10px)";
	}
}

.price-list{
	padding-top: 53px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 -30px;
	li{
		padding: 0 30px;
		width: 50%;
	}
}

.price-block{
	position: relative;
	padding-left: 55px;
	.check{
		position: absolute;
		left: 0;
		top: 16px;
	}
	.title{
		font-weight: bold;
		font-size: 24px;
		line-height: 144%;
		text-transform: uppercase;
		font-family: @caveat;
		margin-bottom: 7px;
	}
	.price{
		font-size: 24px;
		line-height: 144%;
		font-weight: 700;
		color: #FD7253;
	}
	.old-price{
		display: inline-block;
		font-size: 20px;
		font-weight: 500;
		color: #828282;
		text-decoration: line-through;
		margin-right: 10px;
	}
}

.price-pic{
	position: absolute;
	right: 0;
	bottom: -67px;
	z-index: 3;
}


/* request-section ========================================*/
.request-section{
	background: #197589;
	color: #fff;
	padding: 34px 0 46px;
	.title{
		font-weight: bold;
		font-size: 30px;
		line-height: 134.9%;
		font-family: @caveat;
		text-transform: uppercase;
		margin-bottom: 25px;
	}
}

.simple-form{
	input,
	textarea{
		display: block;
		width: 100%;
		transition: @transition;
		height: 66px;
		padding: 0 30px;
		color: #4D4D4D;
		font-weight: 500;
		font-size: 15px;
		font-family: @montserrat;
		background: #fff;
		border-radius: 14px;
		border: 1px solid #D9D9D9;
		&:focus{
			border-color: #FD7253;
		}
	}
	textarea{
		resize: none;
		height: 172px;
		line-height: 1.2;
		padding: 17px 30px;
	}
	&.white-form{
		input,
		textarea{
			border: 2px solid #fff;
			padding: 0 29px;
			&:focus{
				border-color: #fff;
				background: transparent;
				color: #fff;
			}
		}
		textarea{
			padding: 16px 29px;
		}
	}
	.input-block{
		margin-bottom: 30px;
		.button{
			width: 100%;
			padding: 8px 15px;
		}
	}
	.inputs-flex{
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		margin: 0 -15px;
		.input-block{
			margin-left: 15px;
			margin-right: 15px;
			width: ~"calc(100% - 30px)";
		}
		.width-50{
			width: ~"calc(50% - 30px)";
		}
		.width-25{
			width: ~"calc(25% - 30px)";
		}
	}
	.button{
		height: 66px;
		padding-top: 8px;
		padding-bottom: 8px;
	}
}

.checkbox-block{
	text-align: left;
	input{
		display: none;
		&:checked{
			& ~ i{
				background: @orange;
				border-color: @orange;
				&:before{
					content: "";             
					display: block;			
					position: absolute;     
					width: 18px;
	  				height: 18px;
	  				background: url("../images/check.svg") center no-repeat;
	  				background-size: 100% auto;
	  				top: 6px;
	  				left: 6px;
				}
			}
		}
	}
	label{
		display: inline-flex;
		align-items: center;
		cursor: pointer;
		font-weight: 500;
		font-size: 15px;
		line-height: 1.36;
		color: #3A3A3A;
		text-align: left;
		&:hover{
			i{
				border-color: @orange;
			}
		}
	}
	i{
		flex-shrink: 0;
		position: relative;
		margin-right: 18px;
  		background: #fff;
  		transition: @transition;
  		display: block;
  		width: 31px;
  		height: 31px;
  		border: 1px solid #D6D6D6;
  		border-radius: 4px;
	}
	a{
		text-decoration: underline;
		color: #225F6C;
		&:hover{
			text-decoration: none;
		}
	}
}


/* footer ========================================*/
footer{
	background: #146374;
	color: #fff;
	padding: 25px 0;
}

.footer-content{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer-logo{
	flex-shrink: 0;
    margin-right: 15px;
    img{
    	width: 65px;
    	filter: brightness(0) invert(1);
    }
}

.footer-contacts{
	text-align: right;
	flex-shrink: 0;
	margin-left: 15px;
	li{
		margin-bottom: 11px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.phone{
		font-weight: bold;
		font-size: 18px;
	}
	.mail{
		font-size: 16px;
		&:hover{
			text-decoration: underline;
		}
	}
}

.footer-menu{
	display: flex;
	align-items: center;
	flex-grow: 1;
	justify-content: space-between;
	line-height: 1.25;
	font-size: 16px;
	max-width: 844px;
	text-align: center;
	li{
		margin: 0 10px;
	}
	a:hover{
		text-decoration: underline;
	}
}


/*================= МОДАЛКИ ======================*/
.popup-modal{
	max-width: 700px;
    margin: 30px auto;
    position: relative;
    padding: 0;
    border-radius: 28px;
    background: #fff;
    .mfp-close{
        top: -25px; 
        right: -25px;
        line-height: 1px;
       	opacity: 1;
       	width: 30px;
       	height: 30px;
        img,
        i{
            pointer-events: none;
            transition: @transition; 
            opacity: 1;
            filter: brightness(0) invert(1);
        } 
        &:hover{
            img,
        	i{
        		opacity: 0.7;
        	}
        }
    }
}

.mfp-bg{
	background: #384D52;
}

.mfp-zoom-in {
    /* start state */ 
    .mfp-with-anim {
        opacity: 0;
        transition: all 0.2s ease-in-out; 
        transform: scale(0.65); 
    }

    &.mfp-bg {
        opacity: 0;
        transition: all 0.3s ease-out;
    }
    /* animate in */
    &.mfp-ready {
        .mfp-with-anim {  
            opacity: 1;
            transform: scale(1); 
        } 
        &.mfp-bg {
            opacity: 0.88; 
        }
    } 
    /* animate out */
    &.mfp-removing {
        .mfp-with-anim {
            transform: scale(0.65); 
            opacity: 0;
        }
        &.mfp-bg { 
            opacity: 0;
        }
    }
}

.popup-top{
	padding: 40px 42px 5px;
	position: relative;
	z-index: 4;
}

.popup-bottom{
	padding: 5px 42px 17px;
	background: #FBFBFB;
	border-radius: 0 0 28px 28px;
	position: relative;
	z-index: 3;
}

.popup-content{
	h4{
		text-align: center;
		font-weight: bold;
		font-size: 28px;
		line-height: 123.4%;
		text-transform: uppercase;
		margin-bottom: 16px;
	}
	.desc{
		font-weight: bold;
		font-size: 24px;
		line-height: 127%;
		font-family: @caveat;
		text-transform: uppercase;
		color: #197589;
		text-align: center;
	}
}

.modal-pic{
	text-align: center;
	margin-bottom: 25px;
	margin-top: -27px;
	img{
		transform: rotateY(-180deg);
		max-width: 385px;
	}
}

.modal-wave{
	position: absolute;
	z-index: -1;
	left: 0;
	pointer-events: none;
	width: 100%; 
	top: 0;
	margin-top: -3px;
	img{
		width: 100%;
	}
}


/*================= АНИМАЦИИ ======================*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@media (print), (prefers-reduced-motion: reduce) {
  .animated {
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-transition-duration: 1ms !important;
    transition-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
  }
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0)
	}
}

.fadeInRight {
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight
}

@keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3)
	}
	50% {
		opacity: 1
	}
}

.zoomIn {
	-webkit-animation-name: zoomIn;
	animation-name: zoomIn
}

@keyframes fadeIn {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0)
	}
}

.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0)
	}
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp
}



/* ========================== MEDIA ===========================*/
@media(max-width:1380px){
	.js-slick .slick-arrow{
		&.slick-prev{
			left: -35px;
		}
		&.slick-next{
			right: -35px;
		}
	}
}


@media(max-width:1259px){
	.header-menu{
		margin: 0 -18px;
		li{
			margin: 0 18px;
		}
	}
	.intro-aside{
		width: 430px;
		margin-left: 40px;
	}
	.intro-discount{
		padding: 140px 26px 60px;
	}
	h1{
		font-size: 65px;
	}
	h2{
		font-size: 35px;
	}
	.results-list{
		.inner-flex{
			display: block;
		}
		.button{
			margin-left: 0;
			margin-top: 15px;
		}
	}
	.studying-pic{
		right: 2%;
	}
	.studying-content{
		padding: 35px 30px;
	}
	.studying-logo{
		margin-left: 30px;
		margin-right: 0;
		img{
			width: 225px;
		}
	}
	.steps-list{
		margin: 0 -5px;
		li{
			padding: 0 5px;
			margin-bottom: 10px;
		}
	}
	.price-text{
		max-width: 810px;
	}
	.price-list{
		margin: 0 -15px;
		li{
			padding: 0 15px;
		}
	}
	.price-pic{
		right: -55px;
	}
	.footer-menu{
		font-size: 15px;
		max-width: 700px;
	}
	.header-phone{
		margin-left: 15px;
	}
	.results-pic{
		min-height: 320px;
	}
}


@media(min-width:1020px){
	.mobile-buter,
	.mobile-buter-hidden,
	.mobile-overlay{
		display: none !important;
	}
	.header-content{
		display: flex !important;
	}
}
@media(max-width:1019px){
	.header-flex{
		padding: 16px 0;
	}
	.mobile-buter{
		display: block;
		margin-left: auto;
		cursor: pointer;
		&:hover i{
			background: @orange;
		}
		i{
			display: block;
			width: 40px;
			margin: 10px 0;
			height: 2px;
			background: #000;
			transition: @transition;
		}
	}
	.mobile-buter-hidden{
		margin-left: auto;
		opacity: 1;
		cursor: pointer;
		transition: @transition;
		display: none;
		&:hover{
			opacity: 0.7;
		}
		img{
			display: block;
		}
	}
	.header-content{
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		display: none;
		text-align: center;
		background: #fff;
	}
	.header-menu{
		display: block;
		font-size: 16px;
		border-top: 1px solid #EBEBEB;
		li{
			border-bottom: 1px solid #EBEBEB;
		}
		a{
			max-width: 720px;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			min-height: 60px;
			width: 100%;
			padding: 10px 0;
		}
	}
	.header-phone{
		margin-left: 0;
		justify-content: center;
		display: inline-flex;
		max-width: 720px;
		width: 100%;
		padding: 21px 0;
	}
	.mobile-overlay{
		display: none;
		position: fixed;
		z-index: 29;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		background: #384D52;
		opacity: 0.88;
	}
	.intro-section{
		padding: 65px 0 39px;
	}
	.intro-flex{
		display: block;
	}
	.intro-aside{
		margin: 0 auto;
		width: 100%;
		max-width: 100%;
		display: flex;
		padding-top: 0;
		margin-top: 15px;
	}
	.intro-discount{
		padding: 40px 25px;
		width: 50%;
		margin-left: auto;
		border-radius: 35px;
		.title{
			font-size: 24px;
		}
		.button{
			padding: 23px 25px;
			font-size: 14px;
		}
	}
	.intro-content{
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		.desc{
			margin-bottom: 35px;
		}
	}
	h1{
		font-size: 50px;
		margin-bottom: 33px;
	}
	.intro-pic{
		left: auto;
		right: 100%;
		margin-right: -25px;
		width: 120%;
		margin-left: 0;
		bottom: 0;
		margin-bottom: 0;
		img{
			max-width: 100%;
		}
	}
	.counts-flex{
		display: block;
	}
	.counts-content{
		width: 100%;
		padding: 0;
		margin-bottom: 35px;
		text-align: center;
		.desc{
			max-width: 100%;
			margin-bottom: 50px;
		}
	}
	.counts-pic{
		margin-left: 0;
	}
	.counts-aside{
		width: 100%;
		padding: 0;
	}
	.counts-list li{
		margin-bottom: 30px;
	}
	.counts-section{
		padding: 70px 0 45px;
	}
	.advantages-section{
		padding: 50px 0 15px;
	}
	.advantages-list li{
		width: 50%;
	}
	.useful-section{
		padding: 65px 0 40px;
	}
	.useful-list{
		justify-content: center;
		padding-top: 25px;
		li{
			width: 50%;
		}
	}
	.results-flex{
		flex-wrap: wrap;
		padding-top: 0;
	}
	.results-pic{
		padding: 0;
		width: 100%;
		order: -1;
		margin-bottom: 10px;
		text-align: center;
		margin-bottom: 30px;
		min-height: 380px;
	}
	.results-flex{
		margin: 0;
	}
	.results-slogan{
		width: 100%;
		padding: 0;
	}
	.results-list{
		text-align: center;
		padding-top: 15px;
		margin: 0 -10px 10px;
		li{
			margin: 0 10px 20px;
			width: ~"calc(50% - 20px)";
			border-radius: 25px;
		}
		.circle{
			display: none;
		}
		p{
			font-size: 15px;
		}
	}
	.specialties-section{
    	padding: 65px 0;
    	h2{
    		text-align: center;
    	}
	}
	.specialties-desc{
		max-width: 350px;
		margin-right: 30px;
	}
	.specialties-list{
		li{
			width: 50%;
		}
	}
	.specialties-block{
		font-size: 15px;
		min-height: 84px;
		padding-right: 20px;
		width: 100%;
		max-width: 100% !important;
		border-radius: 25px;
		.number{
			font-size: 60px;
			margin-right: 8px;
		}
	}
	.more-specialties{
		margin-top: 15px;
	}
	.consult-text{
		max-width: 480px;
		margin-bottom: -20px;
	}
	.teachers-section{
		padding: 200px 0 30px;
	}
	.teachers-slider-block{
		.image{
			margin-bottom: 25px;
		}
	}
	.studying-section{
	    padding: 75px 0 35px;
	    text-align: center;
	}
	.studying-text{
		max-width: 100%;
		text-align: center;
	}
	.studying-content{
		flex-direction: column;
	}
	.studying-logo{
		order: -1;
		margin: 0 auto 30px;
	}
	.studying-pic{
		display: none;
	}
	.diplom-section{
		padding: 120px 0 70px;
	}
	.diplom-flex{
		display: block;
	}
	.diplom-text{
		padding: 0;
		width: 100%;
		text-align: center;
	}
	.diplom-gerb{
		display: none;
	}
	.diplom-images{
		width: 100%;
		padding-left: 0;
		padding-right: 34px;
		margin: 0 auto;
		max-width: 640px;
		height: 380px;
		margin-top: 140px;
	}
	.steps-list li{
		width: 50%;
	}
	.reviews-section{
		padding: 75px 0 20px;
	}
	.reviews-slider-block .name{
		font-size: 22px;
	}
	.price-pic{
		bottom: -165px;
		right: -65px;
		img{
			width: 200px;
		}
	}
	.price-text{
		max-width: 100%;
		h2{
			text-align: center;
		}
	}
	.price-list{
		padding-top: 15px;
	}
	.price-block{
		.check{
			top: 11px;
		}
		.title{
			font-size: 21px;
		}
		.price{
			font-size: 21px;
		}
		.old-price{
			font-size: 18px;
		}
	}
	.simple-form .inputs-flex .width-25{
		width: ~"calc(50% - 30px)";
	}
	.request-section{
		padding-bottom: 20px;
	}
	.footer-content{
		flex-wrap: wrap;
		justify-content: center;
	}
	.footer-menu{
		order: 2;
		max-width: 100%;
		width: 100%;
		margin-top: 20px;
	}
	.results-section{
		padding: 65px 0 50px;
	}
	.consult-pic{
		left: 59%;
	}
}


@media(max-width:767px){
	html{
		font-size: 14px;
	}
	.simple-form{
		input,
		textarea{
			padding: 0 25px;
		}
		textarea{
			padding: 17px 25px;
		}
		&.white-form{
			input,
			textarea{
				padding: 0 24px;
			}
			textarea{
				padding: 16px 24px;
			}
		}
		.input-block{
			margin-bottom: 20px;
		}
		.inputs-flex{
			margin: 0 -10px;
			.input-block{
				margin-left: 10px;
				margin-right: 10px;
				width: ~"calc(100% - 20px)";
			}
			.width-50{
				width: ~"calc(50% - 20px)";
			}
			.width-25{
				width: ~"calc(50% - 20px)";
			}
		}
	}
	.intro-aside{
		max-width: 400px;
		display: block;
		margin-top: 235px;
	}
	.intro-discount{
		margin: 0 auto;
		width: 100%;
		padding-top: 80px;
	}
	.intro-pic{
		bottom: 100%;
	    left: 50%;
	    margin-bottom: -60px;
	    margin-left: -220px;
	    width: 440px;
	}
	.intro-section{
		padding: 50px 0 5px;
	}
	.intro-content .desc{
		font-size: 18px;
	}
	.popup-top{
		padding-left: 20px;
		padding-right: 20px;
	}
	.popup-bottom{
		padding-left: 20px;
		padding-right: 20px;
	}
	.popup-modal{
		border-radius: 15px;
		.mfp-close{
			top: 6px;
			right: 6px;
			img,
	        i{
	            filter: brightness(0);
	            width: 20px;
	        } 
		}
	}
	.modal-pic{
		margin-top: -10px;
		margin-bottom: 15px;
	}
	.popup-content h4{
		font-size: 24px;
	}
	h2{
		font-size: 28px;
	}
	.counts-pic{
		min-height: 1px;
	}
	.results-list{
		margin: 0 -5px 15px;
		li{
			margin: 0 5px 10px;
			width: ~"calc(50% - 10px)";
			border-radius: 20px;
			padding: 25px 15px;
			box-shadow: 0 4px 20px rgba(40, 71, 115, 0.12);
		}
		p{
			font-size: 14px;
		}
	}
	.results-pic{
		min-height: 1px;
	}
	.button{
		font-size: 15px;
		padding: 20px 30px;
	}
	.specialties-flex{
		justify-content: center;
		flex-direction: column;
		margin-bottom: 20px;
	}
	.specialties-desc{
		max-width: 100%;
		margin-right: 0;
		margin-bottom: 12px;
		text-align: center;
	}
	.specialties-counts{
		justify-content: center;
		margin: 0 -15px;
		li{
			margin: 0 15px !important;
		}
		strong{
			font-size: 44px;
		}
	}
	.specialties-list{
		margin: 0 -5px;
		li{
			padding: 0 5px;
			margin-bottom: 10px;
		}
	}
	.specialties-block{
		font-size: 14px;
		font-weight: 600;
		padding: 15px;
		padding-left: 0;
		border-radius: 15px;
		.number{
			font-size: 50px;
			width: 54px;
			margin-right: 10px;
		}
	}
	.js-slick .slick-arrow{
		width: 40px;
		height: 40px;
		margin-top: -20px;
		&:after{
			width: 20px;
			margin-left: -10px;
		}
		&.slick-prev{
			left: -5px;
		}
		&.slick-next{
			right: -5px;
		}
	}
	.teachers-slider-block{
		margin: 20px 15px;
		.image{
			margin-bottom: 20px;
		}
		.name{
			font-size: 16px;
			margin-bottom: 10px;
		}
	}
	.consult-section{
		padding-top: 55px;
	}
	.consult-text{
		max-width: 500px;
	}
	.consult-pic{
		top: 115px;
		width: 220px;
		left: auto;
		right: 0;
		img{
			max-width: 100%;
		}
	}
	.studying-list{
		font-size: 15px;
	}
	.diplom-section{
		padding-top: 90px;
	}
	.diplom-images{
		max-width: 560px;
		padding-right: 0;
	}
	.diplom-pic{
		&.item-1{
			left: 0;
	    	top: 4px;
		}
		&.item-2{
			left: 180px;
	    	top: -92px;
		}
		&.item-3{
			left: 140px;
	    	top: 133px;
		}
	}
	.reviews-slider-block{
		margin: 20px 15px;
		&.slick-active{
			box-shadow: 0px 4px 20px rgba(40, 71, 115, 0.12);
		}
	}
	.price-section{
		padding: 30px 0 60px;
	}
	.price-pic{
		display: none;
	}
	.price-block{
		.price{
			font-size: 19px;
		}
		.old-price{
			font-size: 16px;
			display: block;
		}
	}
	.footer-menu{
		flex-direction: column;
		li{
			margin: 5px 0;
		}
	}
	.request-section .title{
		text-align: center;
	}
	footer{
		padding: 30px 0 25px;
	}
	.modal-pic{
		img{
			max-width: 100%;
		}
	}
}


@media(max-width:480px){
	.simple-form{
		input,
		textarea{
			height: 56px;
		}
		textarea{
			height: 180px;
		}
		.input-block{
			margin-bottom: 15px;
		}
		.inputs-flex{
			.width-50{
				width: ~"calc(100% - 20px)";
			}
			.width-25{
				width: ~"calc(100% - 20px)";
			}
		}
		.button{
			height: 56px;
		}
	}
	.main-logo{
		font-size: 13px;
		margin-right: 0;
		span{
			max-width: 172px;
		}
		img{
			margin-right: 12px;
		}
	}
	.mobile-buter i{
		width: 34px;
	}
	.header-menu{
		font-size: 15px;
	}
	h1{
		font-size: 38px;
		margin-bottom: 24px;
	}
	.intro-content{
		.desc{
			font-size: 16px;
			margin-bottom: 29px;
		}
	}
	.intro-list{
		font-size: 15px;
		img{
			margin-right: 15px;
		}
	}
	.intro-aside{
		margin-top: 205px;
	}
	.intro-pic{
		width: 380px;
		margin-left: -190px;
	}
	.intro-discount{
		.title{
			font-size: 22px;
		}
		.date{
			font-size: 32px;
		}
	}
	.popup-content{
		h4{
			font-size: 20px;
		}
		.desc{
			font-size: 20px;
		}
	}
	.checkbox-block label{
		font-size: 14px;
	}
	.advantages-list .title{
		font-size: 20px;
	}
	h2{
		font-size: 22px;
	}
	.counts-content .desc{
		font-size: 14px;
	}
	.counts-list .number{
		font-size: 38px;
		margin-bottom: 6px;
	}
	.useful-list{
		padding-top: 0;
		li{
			width: 100%;
		}
		.image{
			margin-bottom: 20px;
		}
		.title{
			margin-bottom: 15px;
		}
	}
	.results-list li{
		width: ~"calc(100% - 10px)";
	}
	.results-slogan .title{
		font-size: 20px;
	}
	.specialties-desc{
		font-size: 14px;
		margin-bottom: 10px;
	}
	.specialties-list li{
		width: 100%;
	}
	.specialties-block{
		min-height: 68px;
	}
	.consult-text{
		text-align: center;
		max-width: 100%;
		.button{
			margin-top: 245px;
		}
	}
	.consult-pic{
		left: 50%;
		top: auto;
		bottom: 73px;
		margin-left: -110px;
	}
	.teachers-section{
		padding: 100px 0 15px;
	}
	.studying-list li{
		width: 100%;
	}
	.diplom-flex{
		text-align: center;
	}
	.diplom-images{
		margin-top: 0;
		height: auto;
	}
	.diplom-pic{
		position: static;
		margin-left: 0;
		text-align: center;
		margin-bottom: 15px;
		img{
			display: inline-block;
			max-width: 100%;
		}
	}
	.diplom-text{
		.desc{
			font-size: 15px;
			margin-bottom: 30px;
		}
		.button{
			display: none;
		}
	}
	.mobile-diplom-link{
		display: inline-block;
		margin-top: 10px;
	}
	.steps-section{
		padding: 60px 0 40px;
	}
	.steps-list{
		padding-top: 5px;
		li{
			width: 100%;
		}
	}
	.reviews-slider-block{
		border-radius: 35px;
		.avatar{
			margin-right: 15px;
		}
		.name{
			font-size: 20px;
		}
	}
	.price-list{
		padding-top: 5px;
		li{
			width: 100%;
			margin-bottom: 25px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.studying-text .desc{
		font-size: 15px;
	}
	.reviews-section{
		padding-top: 65px;
	}
}